:root {
  --white: #fff;
  --dark-gray: #212121;
  --medium-gray: #666666;
  --light-gray: #e0e0e0;
  --background: #f7f7f7;
  --wireframe: #b8b8b8;
  --type-normal: #aaa67f;
  --type-fighting: #c12239;
  --type-flying: #a891ec;
  --type-poison: #a43e9e;
  --type-ground: #dec16b;
  --type-rock: #b69e31;
  --type-bug: #a7b723;
  --type-ghost: #70559b;
  --type-steel: #b7b9d0;
  --type-fire: #f57d31;
  --type-water: #6493eb;
  --type-grass: #74cb48;
  --type-electric: #f9cf30;
  --type-psychic: #fb5584;
  --type-ice: #9ad6df;
  --type-dragon: #7037ff;
  --type-dark: #75574c;
  --type-fairy: #e69eac;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: var(--background);
  color: var(--medium-gray);
  -webkit-font-smothing: antialiased;
}

body, input, textarea, button {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 2rem;
}