.search {
  padding-right: 2rem;
  padding-left: 2rem;
  align-items: center;
}

.searchInputIcon {
  left: 2.25rem !important;
}

.lupa {
  width: 0.9rem;
}

.searchInput {
  border-radius: 12px;
  background-color: var(--white);
}